/*YahooAutocomplete Style @1-67CD1EFE*/
.mfi_docsSearchs_mfi_doc_regionYahooAutocomplete1 .yui-ac-container {
    left: 0;
}
.mfi_docsSearchs_mfi_doc_regionYahooAutocomplete1 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.mfi_docsSearchs_mfi_doc_region_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

/*YahooAutocomplete Style @1-9DE7C66D*/
.mfi_docsSearchs_mfi_doc_territory_codeYahooAutocomplete2 .yui-ac-container {
    left: 0;
}
.mfi_docsSearchs_mfi_doc_territory_codeYahooAutocomplete2 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.mfi_docsSearchs_mfi_doc_territory_code_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

/*YahooAutocomplete Style @1-0DFE7662*/
.mfi_docsSearchs_doc_rejection_reasonYahooAutocomplete3 .yui-ac-container {
    left: 0;
}
.mfi_docsSearchs_doc_rejection_reasonYahooAutocomplete3 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.mfi_docsSearchs_doc_rejection_reason_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

