/*YahooAutocomplete Style @1-00FD5EE0*/
.Panel1mfi_docs_camsdata123_grid1s_batch_codeYahooAutocomplete1 .yui-ac-container {
    left: 0;
}
.Panel1mfi_docs_camsdata123_grid1s_batch_codeYahooAutocomplete1 input {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    *width: expression(parseInt(this.parentNode.currentStyle.width)-6+'px');
}
.Panel1mfi_docs_camsdata123_grid1s_batch_code_container {
    display: block;
}
.YUIAutcompleteHighlight {
    background-color: #AAAAAA;
}
.YUIAutcompletePreHighlight {
    background-color: #DDDDDD;
}
/*End YahooAutocomplete Style*/

